<!DOCTYPE html>
<html ng-app="Employees" lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LuizaLabs</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-resource.js"></script>
  
  <script src="assets/js/app.js"></script>
  <script src="assets/js/employee.factory.js"></script>
  <script src="assets/js/employee.controller.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Employees Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="swagger-ui.html#/employee-controller">API Doc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br/>

  <!-- Page Content -->

  <div class="container" ng-controller="EmployeesController">
    <h4>New Employee</h4>
    <div class="row">
      <div class="col-lg-6 ">
        <form ng-submit="save()">
          <div class="form-group">
            <input type="text" class="form-control" id="idName" placeholder="name" ng-model="employee.name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="idEmail" placeholder="e-mail" ng-model="employee.email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="idDepartment" placeholder="department" ng-model="employee.department">
          </div>
          <button class="btn btn-success" type="submit">Confirm</button>
        </form>
      </div>
    </div>
<br/>
    <h4 class="text-center">Employees</h4>
    <div class="row">
      <div class="col-lg-12 text-center">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
          </tr>
          </thead>
          <tbody ng-repeat="employee in list">
          <tr>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.department}}</td>
            <td> <a class="btn btn-danger btn-sm" href="#" ng-click="delete(employee.id)">delete</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="assets/js/jquery.slim.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>

</body>

</html>
